---
import { Icon } from 'astro-icon/components';
import classes from './tag.module.scss';

type Props = {
  tag: string;
  isIcon?: boolean
}

const { tag, isIcon = false } = Astro.props;
---

<li class={classes.tag}>
  {isIcon ? <Icon name={tag} size={32} /> : tag}
</li>
