---
import { getSession } from "auth-astro/server";
import { getGravatarUrl } from './menu.service';
import classes from "./menu.module.scss";
const session = await getSession(Astro.request);
---

<a href="/profile" title={session?.user?.name}>
  <div class={classes.menu}>
    <img
      src={session?.user?.image || getGravatarUrl(session?.user?.email)}
      alt={session?.user?.name}
    />
  </div>
</a>
