---
type Props = {
  name: string;
};
const { name } = Astro.props;
---

<Fragment>
  <input type="hidden" name="form-name" value={name} />
  <p class="hidden">
    <label for="bot-field">
      Don't fill this out if you're human: <input name="bot-field" />
    </label>
  </p>
</Fragment>
