---
import { type CollectionEntry } from "astro:content";
import CardProject from "@components/card/Card:Project.astro";
import classes from './highlights.module.scss';

type Props = {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<section class="container">
  <div class={classes.wrapper}>
    {projects.map(project => <CardProject {...project} />)}
  </div>
</section>
