@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");

:root {
  --page-bg-color: #13151a;
  --page-bg: url("/page_bg.svg");
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --tw-gradient-from: rgb(180, 40, 165, 0.8) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(142, 85, 172) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", system-ui, sans-serif;
}
html {
  background: var(--page-bg-color);
  background-size: 224px;
  color: #fff;
}
body {
  height: 100lvh;
  background-image: linear-gradient(#000, #333, #000);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
main {
  position: relative;
  background-image: var(--page-bg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00000030;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100dvh - 11.5rem);
  overflow-y: auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Merriweather", system-ui, sans-serif;
    scroll-snap-align: start;
  }
  section {
    height: 100%;
  }
}
section {
  scroll-snap-align: start;
  margin: 0 auto;
  padding: 1rem;
}
input {
  color: #1e293b;
}
input[type='submit'] {
  color: #f2f2f2;
  background: #1e293b;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
}
.header {
  margin-top: 0;
  background-image: linear-gradient(transparent, #303030, transparent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  margin-top: auto;
  margin-bottom: 0;
  background-image: linear-gradient(transparent, #303030, transparent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
