@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap");

:root {
  --page-bg-color: #13151a;
  --page-bg: url("/page_bg.svg");
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --tw-gradient-from: rgb(180, 40, 165, 0.8) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(142, 85, 172) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
html {
  font-family: "Lato", system-ui, sans-serif;
  background: var(--page-bg-color);
  background-size: 224px;
  color: #fff;
}
body {
  height: 100lvh;
  background-image: linear-gradient(#000, #333, #000);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
main {
  position: relative;
  background-image: var(--page-bg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00000030;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100dvh - 11.5rem);
  overflow-y: auto;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Merriweather", system-ui, sans-serif;
    scroll-snap-align: start;
  }
  section {
    height: 100%;
  }
}
section {
  scroll-snap-align: start;
  margin: 0 auto;
  padding: 1rem;
}
.header {
  margin-top: 0;
  background-image: linear-gradient(transparent, #303030, transparent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  margin-top: auto;
  margin-bottom: 0;
  background-image: linear-gradient(transparent, #303030, transparent);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.loading {
    display: grid;
    place-items: center;
    position: relative;
    height: 100dvh;
    background-image: url("/page_bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-y: spacing(loose) * 3;
  }
  .loading::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(255, 255, 255, 0.98);
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    z-index: 3000;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
