---
import Layout from "@layouts/Layout.astro";
import FormContact from "@islands/svelte/form/Form:Contact.svelte";
import ButtonBack from '@components/button/Button:Back.astro';
---

<Layout>
  <div class="relative">
    <ButtonBack />
    <FormContact />
  </div>
</Layout>
