---
import Brand from "../brand/Brand.astro";
import Navbar from "../navbar/Navbar.astro";
import Menu from "../menu/Menu.astro";
import classes from './header.module.scss';
---

<section class={classes.header}>
  <Brand />
  <Navbar />
  <Menu />
</section>
