---
import {
  SignedIn,
  SignedOut,
  UserButton,
  SignInButton,
} from "@clerk/astro/components";
import { pages } from "./navbar.service";
import styles from "./navbar.module.scss";
import NavItem from "./NavItem.astro";
---

<div class={styles.navbar} role="navigation" aria-label="navbar">
  <menu>
    {pages.map((_, index) => <NavItem {index} />)}
    <li>
      <SignedOut>
        <SignInButton mode="modal" />
      </SignedOut>
      <SignedIn>
        <UserButton />
      </SignedIn>
    </li>
  </menu>
</div>
