---
import { pages } from "./navbar.service";
import classes from "./navbar.module.scss";
import NavItem from './NavItem.astro';
---

<div class={classes.navbar} role="navigation" aria-label="navbar">
  <menu>{pages.map((_, index) => <NavItem {index} />)}</menu>
</div>
