---
import { Icon } from 'astro-icon/components';
import { pages, isActive } from './navbar.service';
import classes from './navbar.module.scss';
type Props = { index: number };
const [_, currentPage] = Astro.url.pathname.split("/");
const { index } = Astro.props;
const page = pages[index];
---

<li>
  <a
    href={page.href}
    class:list={[
      classes.link,
      isActive(page, currentPage) && classes["link--active"],
    ]}
  >
    {page.image && <Icon name={page.image} />}
    {page.text}
  </a>
</li>
