---
import { Icon } from "astro-icon/components";
import { pages, isActive } from "./navbar.service";
import styles from "./navbar.module.scss";
type Props = { index: number };
const [_, currentPage] = Astro.url.pathname.split("/");
const { userId } = Astro.locals.auth();
const page = pages[Astro.props.index];
const show: boolean = !!(page.private && userId) || !page.private;
---

<li>
  {
    show ? (
      <a
        href={page.href}
        class:list={[
          styles.link,
          isActive(page, currentPage) && styles["link--active"],
        ]}
      >
        {page.image && <Icon name={`mdi:${page.image}`} />}
        {page.text}
      </a>
    ) : null
  }
</li>
