---
import { Picture } from "astro:assets";
import { IMAGE_SIZE, SITE_FAVICON, SITE_NAME } from "../constants";
---

<div
  role="img"
  aria-label="Brand Logo"
  class="brand-logo"
>
  <a href="/" >
    <Picture
      src={SITE_FAVICON}
      alt={SITE_NAME}
      height={IMAGE_SIZE}
      width={IMAGE_SIZE}
      loading="eager"
      format="webp"
    />
    <slot />
  </a>
</div>

<style lang="scss">
  .brand-logo {
    a {
      @apply flex place-items-center
      cursor-pointer
    }
    img {
      @apply max-w-12 h-auto mr-2
    }
    @apply ml-0 mr-auto
    hover:animate-pulse;
  }
</style>
