---
import { Picture } from "astro:assets";
import { IMAGE_SIZE, SITE_FAVICON, SITE_NAME } from "../constants";
---

<div
  role="img"
  aria-label="Brand Logo"
  class:list={["ml-0", "mr-auto", "hover:animate-pulse"]}
>
  <a
    href="/"
    class:list={[
      "flex",
      "flex-auto",
      "flex-nowrap",
      "place-items-center",
      "cursor-pointer",
    ]}
  >
    <Picture
      class:list={["max-w-12", "h-auto", "mr-2"]}
      src={SITE_FAVICON}
      alt={SITE_NAME}
      height={IMAGE_SIZE}
      width={IMAGE_SIZE}
      loading="eager"
      format="webp"
    />
    <slot />
  </a>
</div>
