---
import { Image } from 'astro:assets';
---

<div class="ml-0 mr-auto cursor-pointer, rounded-xl contain-content">
  <a href="/">
    <Image src="/favicon.png" alt="brand logo" width={50} height={20} />
  </a>
</div>
