---
import Back from "./Button:Back.astro";
---

<section
  class="container relative overflow-y-scroll bg-gradient-to-bl rounded-xl max-h-dvh xl:max-w-screen-xl"
>
  <Back />
  <div class="grid grid-cols-1 xl:grid-cols-2 xl:place-items-center">
    <div class="order-2 block w-auto xl:order-1 xl:h-auto xl:pl-8">
      <slot name="content" />
    </div>
    <div class="order-1 block object-contain xl:order-2 xl:max-h-96">
      <slot name="cover-image" />
    </div>
    <slot />
  </div>
</section>
