---
import Brand from "./Brand.astro";

const year = new Date().getFullYear().toString();
---

<section class="footer">
  <div>
    <Brand showFull />
    <div>
      &copy; <span>{year}</span>. All Rights Reserved.
    </div>
  </div>
  <div>Resources</div>
</section>

<style lang="scss">
  .footer {
    @apply flex justify-between w-dvw;
    & > div {
      @apply flex place-items-center;
    }
    & > div:is(:last-child) {
      @apply hidden md:block;
    }
  }
</style>
