---
import Brand from "./Brand.astro";
import FormattedDate from './FormattedDate.astro';
---

<section class="footer">
  <div>
    <Brand showFull />
    <div>
      &copy; <FormattedDate date={new Date()} yearOnly />. All Rights Reserved.
    </div>
  </div>
  <div>Resources</div>

  <style lang="scss">
    .footer {
      @apply flex justify-between w-dvw;
      & > div {
        @apply flex place-items-center;
      }
      & > div:is(:last-child) {
        @apply hidden md:block;
      }
    }
  </style>
</section>
