---
import Form from "./Form.astro";
import FormField from "./FormField.astro";

type FormProps = {
  name: string;
  title: string;
  netlify: boolean;
};
type FieldProps = {
  type: "email" | "text" | "password" | "textarea";
  name: string;
  label: string;
  required: boolean;
};

const props: FormProps = {
  name: "contact v1",
  title: "Contact Form",
  netlify: true,
};
const fields: FieldProps[] = [
  {
    type: "email",
    name: "email",
    label: "Email",
    required: true,
  },
  {
    type: "text",
    name: "name",
    label: "Name",
    required: false,
  },
  {
    type: "textarea",
    name: "message",
    label: "Message",
    required: true,
  },
];
---

<Form {...props}>
  <Fragment slot="form-copy">
    <article>
      <h2>Get in Touch and Transform Your Experience!</h2>
      <p>Are you ready to take your journey to the next level?</p>

      <style>
        article {
          @apply max-w-xs justify-center place-self-center
          bg-black bg-opacity-90 p-4 rounded-xl;
        }
      </style>
    </article>
  </Fragment>
  <Fragment slot="fields">
    {fields.map(field => <FormField {...field} />)}
  </Fragment>
</Form>
