---
import Brand from "./Brand.astro";
import Navbar from "./Navbar.astro";
import Menu from "./Menu.astro";
---

<section class="header">
  <Brand />
  <Navbar />
  <Menu />

  <style lang="scss">
    .header {
      @apply w-dvw mt-0 flex flex-row justify-evenly place-items-center;
    }
  </style>
</section>
