---
import { Image } from "astro:assets";
---

<div class="ml-4 mr-0 cursor-pointer rounded-full contain-content">
  <Image
    src="/src/images/profile.png"
    alt="profile pic"
    width={50}
    height={50}
  />
</div>
