---
import { Picture } from "astro:assets";
import profileImg from "../images/profile.png";
---

<div
  id="menu"
  onclick="window.location.replace('/admin');"
  class:list={[
    "mr-0",
    "ml-4",
    "cursor-pointer",
    "rounded-full",
    "contain-content",
  ]}
>
  <Picture
    class="max-w-12 h-auto"
    src={profileImg}
    alt="profile pic"
    loading="eager"
    format='webp'
  />
</div>
