---
import { Icon } from "astro-icon/components";
---

<a href="/admin" title="Admin App">
  <div id="menu">
    <Icon name="user" />

    <style lang="scss">
      #menu {
        @apply grid place-self-center h-10 w-10 bg-slate-600 cursor-pointer
        rounded-full contain-content place-items-center hover:animate-pulse;
      }
    </style>
  </div>
</a>
