---
import { Picture } from "astro:assets";
import { type CollectionEntry, getEntry } from "astro:content";

const pages = [
  (await getEntry("pagemetas", "home")).data,
  (await getEntry("pagemetas", "projects")).data,
  (await getEntry("pagemetas", "about")).data,
];
const currentPage = Astro.url.pathname.split("/")[1];
const isActive = (page: CollectionEntry<"pagemetas">["data"]) => {
  if (!currentPage && page?.text === "Home") return true;
  else if (currentPage && page?.href.includes(currentPage)) return true;
  else return false;
};
---

<div class="navbar" role="navigation" aria-label="Nabar">
  <ul class:list={[]}>
    {
      pages.map(page => (
        <li class:list={["mr-4", "hover:animate-pulse"]}>
          <a
            href={page.href}
            class={isActive(page) ? "link link--active" : "link"}
          >
            {page?.image && (
              <Picture
                src={page.image}
                alt={page.text}
                height={18}
                width={18}
                loading={"eager"}
              />
            )}
            {page.text}
          </a>
        </li>
      ))
    }
  </ul>
  <style>
    .navbar ul {
      @apply hidden
      lg:flex lg:flex-row lg:justify-between;
    }
    .navbar ul li {
      @apply mr-4
      hover:animate-pulse;
    }
    .link {
      @apply pb-2 flex flex-auto gap-2
      place-items-center
      transition duration-300 ease-in
      opacity-70 border-solid border-b-2 border-b-transparent
      hover:opacity-100 hover:border-b-green-600;
    }
    .link--active {
      @apply border-b-green-600 opacity-100;
    }
  </style>
</div>
