<div
  class:list={[
    "prose",
    "dark:prose-invert",
    "prose-h1:font-bold",
    "prose-h1:text-xl",
    "prose-h2:font-bold",
    "prose-h2:text-md",
    "prose-p:text-justify",
    "prose-table:bg-slate-800",
    "prose-table:opacity-80",
    "prose-table:overflow-hidden",
    "prose-table:rounded-3xl",
    "prose-table:hover:opacity-100",
    "prose-table:transform",
    "prose-table:duration-300",
    "prose-table:ease-in-out",
    "prose-th:decoration-transparent",
    "prose-th:pt-4",
    "prose-a:text-green-600",
    "prose-img:rounded-xl",
    "prose-img:max-w-8",
    "prose-headings:underline",
    "prose-headings:underline-offset-2",
    "prose-ul:list-image-chevron",
    "prose-headings:text-blue-100",
    "prose-headings:decoration-green-600",
    "marker:text-slate-200",
    "marker:h-4",
    "marker:w-4",
    "h-full",
    "overflow-auto",
  ]}
>
  <slot />
</div>
