---
import { Icon } from "astro-icon/components";
type Props = { tag: string };
const { tag } = Astro.props;
---

<li class="tag">
  <Icon name={`logos:${tag}`} size={24} />

  <style lang="scss">
    .tag {
      @apply flex place-items-center gap-2 py-1 px-3
      text-xs rounded-full border-2 text-blue-200
    border-slate-800 bg-white;
    }
  </style>
</li>
