---
interface Props {
  tag: string;
}

const { tag } = Astro.props;
---

<span
  class:list={[
    "flex",
    "place-items-center",
    "my-2",
    "mr-2",
    "p-1",
    "px-2",
    "text-xs",
    "rounded-full",
    "border-2",
    "border-green-600",
    "bg-purple-600",
  ]}
>
  {tag}
</span>
