---
import { getCollection } from "astro:content";
import CardTestimonial from "./Card:Testimonial.astro";

const testimonials = (await getCollection("testimonials")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="container">
  <ul class="testimonials">
    {testimonials.map(testimonial => <CardTestimonial {testimonial} />)}
  </ul>
</section>

<style>
  .testimonials {
    @apply flex mx-auto
    gap-4 justify-center max-w-screen-sm;
  }
</style>
