---
import { getCollection } from "astro:content";
import CardTestimonial from "./Card:Testimonial.astro";

const testimonials = (await getCollection("testimonials")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="container">
  <div class="wrapper">
    <ul class="testimonials">
      {testimonials.map(testimonial => <CardTestimonial {...testimonial} />)}
    </ul>
  </div>
</section>

<style>
  .container {
    @apply grid;
  }
  .wrapper {
    @apply grid w-full max-w-screen-sm p-4 place-self-center;
  }
  .testimonials {
    @apply flex flex-wrap flex-row place-self-center
    gap-4 justify-center place-items-center;
  }
</style>
