---
import Brand from "../brand/Brand.astro";
import FormattedDate from "../FormattedDate.astro";
import classes from "./footer.module.scss";
---

<section class={classes.footer}>
  <div>
    <Brand showFull />
    <div>
      &copy; <FormattedDate date={new Date()} yearOnly />. All Rights Reserved.
    </div>
  </div>
  <div>Resources</div>
</section>
