---
import Brand from "../components/Brand.astro";
import Navbar from "../components/navbar/Navbar.astro";
import Menu from "../components/Menu.astro";
---

<section class="header">
  <Brand />
  <Navbar />

  <style lang="scss">
    .header {
      @apply w-dvw flex flex-row justify-evenly place-items-center
      border-b-2 border-b-green-600;
    }
  </style>
</section>
