---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import Loading from "../components/Loading.astro";
import "../styles/global.scss";
---

<!doctype html>
<html lang="en">
  <BaseHead />
  <body>
    <Header />
    <main>
      <slot>
        <Loading />
      </slot>
    </main>
    <Footer />
  </body>
</html>
