---
import BaseHead from "@/sections/BaseHead.astro";
import Header from "@/sections/Header.astro";
import Footer from "@/sections/Footer.astro";
import "@/styles/global.scss";
---

<!doctype html>
<html lang="en">
  <BaseHead />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
