---
import { getEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import Loading from "../components/Loading.astro";

const currentPage = Astro.url.pathname.replace("/", "");
const pageMeta = currentPage
  ? await getEntry("pagemetas", currentPage)
  : undefined;
if (
  currentPage &&
  !pageMeta &&
  !currentPage.includes("projects") &&
  !currentPage.includes("admin") &&
  !currentPage.includes("api")
) {
  console.warn(`Page meta missing for current page: ${currentPage}`);
}

type Props = {
  title?: string;
};

const { title = pageMeta?.data.title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead {title} />
  <body>
    <Header />
    <main>
      <slot>
        <Loading />
      </slot>
    </main>
    <Footer />
  </body>
</html>
