---
import { getSession } from "auth-astro/server";
import Layout from "../../layouts/Layout.astro";
import Admin from "../../admin/index.svelte";

const session = await getSession(Astro.request);
if (!session) return Astro.redirect('/api/auth/signin')
---

<Layout>
  <section class="grid place-items-center p-4 h-full w-full max-w-screen">
    <Admin {session} client:only="svelte" />
  </section>
</Layout>
