---
import Layout from "../../layouts/Layout.astro";
import { AdminApp } from "../../admin/App";
---

<Layout>
  <section class="grid place-items-center h-100">
    <AdminApp client:only="react" />
  </section>
</Layout>
